@import '../node_modules/bootstrap/dist/css/bootstrap.css';

 .box-shadow--2dp {
 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

body{
	font-family: "Lato"!important;

}
// nav{
//   	border-top: 2px solid #006666;
//   	overflow: hidden;
// 	.navbar{
// 		border-radius: 0;
// 	}
// 	.navbar-default{
// 		background-color: #fff;
// 			.navbar-brand{
// 				color: #fff;
// 				background-color: #006666;
//             	box-sizing: border-box;
// 			}
				
// 	}
	
// }



// .navBtn{
// 	margin-top:7px;
// 	margin-left:5px;
// 	border-width: 0 0 2px 0;  
// 	border-bottom-color: #C94727;
//  	background-color: #f1693c;
//  	padding: 6px 20px 4px 20px;
//  	border-radius: 3px;
//  	line-height: 24px;
//     cursor: pointer;
//  		a{
//  			color: #fff;
//  			letter-spacing: 1px;
//  		}
// }
// .logoutBtn{
// 	margin-top:7px;
// 	margin-left:5px;
// 	border-width: 0 0 2px 0;  
// 	border-bottom-color: #CCCCCC;
//  	background-color: #EEEEEE;
//  	padding: 6px 20px 4px 20px;
//  	border-radius: 3px;
//  	line-height: 24px;
//     cursor: pointer;
//  		a{
//  			color: #555;
//  			letter-spacing: 1px;
//  		}


// }

	
// .formBlock{
// 	padding: 3em;
// }
// .classBlock{
// 	border: 1px solid white;
// 	padding: 3em;
// 	box-sizing: border-box;
// 	background-color: red;
// }