@import '../node_modules/bootstrap/dist/css/bootstrap.css';
$navColor: #008D9F;
$button-color: #FB6124;

 .box-shadow--2dp {
 	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

body{
	font-family: "Lato"!important;
	background-color: #A7E3ED!important;

}
a{
	color: #fff!important;

}

nav{

  	background-color: $navColor;
	.navbar{
		border-radius: 0;
	}
	.navbar-default{
		background-color: $navColor;
		.navbar-collapse{
			border: none;
		}
			ul{
				margin: 7.5px -15px;
				list-style:none;
				li{
					    padding-top: 10px;
    					padding-bottom: 10px;
    					line-height: 20px;
				}
			}
		
			.navbar-brand{
				color: #fff;
            	box-sizing: border-box;
			}
	}
}
#navCollapse{
		background-color:$button-color;
		padding: 6px 5px;
		border-color: $navColor;
			&:hover{
					background-color: $button-color;
				}
			.icon-bar{
						background-color: #fff;
						width:25px;
						height:4px;
						border-radius:2px;

					}
	}

@media screen and (min-width:768px){
	nav{

  	background-color: $navColor;
	.navbar{
		border-radius: 0;
	}
	.navbar-default{
		background-color: $navColor;
		.navbar-collapse{
			border: none;
		}
			ul{
				margin: 0;

				li{
						float:right;
						width:20%;
						height:70px;
						background:$navColor;
						text-align:center;
						-webkit-transition-duration: 50ms;
						padding-top: 0px;
			    		padding-bottom: 0px;
			    		line-height: 0px;
			    		transition: -webkit-transform 0.2s;
				}
			}
		
			.navbar-brand{
				color: #fff;
            	box-sizing: border-box;
            	float:left
			}
	}
}
		// nav li {
		// 	display:inline-block;
		// 	float:right;
		// 	width:20%;
		// 	height:70px;
		// 	background:$navColor;
		// 	text-align:center;
		// 	-webkit-transition-duration: 50ms;
		// 	padding-top: 0px;
  //   		padding-bottom: 0px;
  //   		line-height: 0px;
  //   		transition: -webkit-transform 0.2s;
		// }
		
		a {
			text-decoration:none;
			display:block;
			width:100%;
			height:100%;
			padding:25px 0px;
			text-wrap:none;
			color: #fff;
		}

		nav li:hover {
			background:$navColor;
			color: #FFF;
			-webkit-transform: scale(1.1) translate(0px,5px);
			-webkit-box-shadow: 0px 3px 6px rgba(0,0,0,.3);
			-webkit-backface-visibility: hidden;
			a{
				text-decoration: none;
				font-size: 1.2em;
			}
		}
		// nav li:active {
		// 	-webkit-transform: scale(1.05) translate(0px,3px);
		// 	-webkit-box-shadow: 0px 2px 3px rgba(0,0,0,.3);
		// 	text-decoration: none;
		// }
		.formBlock{
			padding: 3em;
		}

		.form-control{
			margin-bottom: 1em;
		}
		#subjectBoxes{
			margin-top: 2em;
		}
		#redeemHolder{
			margin-top: 2em;
			border: 1px solid black;
			padding: 1em 4em;
		}
		#dropdown{
			margin-right: 0;
			margin-left: 0;
			margin-bottom: 0;
		}
		.currentPts{
			border: 1px solid black;
			padding: 1em;
		}
		.modal-content{
			padding: 3em;
		}
		textarea{
			width: 100%;
		}
	
}	

